.containerAbou {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0 ; 
   
}
.containerAbou h2{
    color: #555555;
    font-size: 40px;
    align-items: center;    
}
.containerAbou .sectionSponsors {    
    display: flex;
    justify-content: space-between;
   
}
.containerAbou  .sectionSponsors article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:  0px 1.3em; 
}
.containerAbou  .sectionSponsors article:hover{
    border-bottom: 3px solid gray;

}
.containerAbou .sectionSponsors article .img-logo-sp img{
    width: 200px;
}
.containerAbou article img{
    width: 25vw;    
}
.sectionSponsors{
    
    display: flex;
    justify-content: center;  

}
@media (max-width: 767px) {
    .sectionSponsors{
        flex-wrap: wrap;
        
    }
    .containerAbou .sectionSponsors {
        justify-content: center;
        gap: 30px;
    }
    .containerAbou .sectionSponsors article .img-logo-sp img {
        width: 150px;
    }
    .containerAbou .sectionSponsors article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        width: 150px;
    }
}