.banner {
    background-image: url('/background/background.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 150% auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
 

}
.banner_contain{
    margin-left: 5%;
    width: 70%;
    align-self:center;
    justify-content: start;
}
.banner_contain img{
  width: 30vw;
}
.banner_containTex1{
   /* position: absolute;
    left: 10%;
    top:30%;
    /* right:40%; */
    margin-top: 8%;
    margin-right: 8%;
    font-family: serif;
    font-weight: 100;
    font-size: 28px; 
    color:#747070;
    width: 50%;
    text-align: center;
}
.banner_containTex2{ 
    font-size: 21px; 
    color: #fff;
    width: 55%;
    text-align: start;

}
.banner_button{
    position: absolute;
    right: 5%;
    top: 20%;  
    background-color: #E1C763;
    color: #fff;
    padding: 25px 50px;
    font-size: 16px;
    border-radius: 10px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}



@media (max-width: 767px) {

  .banner{
    background-image: url('/background/background.png');
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20%;
  }

  .banner_containTex1{
    /* visibility: hidden; */
    display: none;
  }
  .banner_button{
    padding:20px 30px;
    padding-right: 30px;
    font-size: 14px;
    right: 25%;
    position: static;
  }
  .banner_containTex2{ 
    font-size: 28px; 
    width: 100%;
  }

  .banner_contain .logo{
    margin-top: 30px;
    width: 100%;
  }
    .banner_contain{
    margin-top: 20%;
    margin-bottom: 10%;
  }

}