.english{
    display: none;
}
.card_container2{
    width: 280px;
    height: 430px;
    border-radius: 30px;  
    background-image: url('/background/bg-card.svg'); /* Agrega la imagen de fondo */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen en el banner */
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.card_title2{
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
}
.card_btn2{
    font-size: 22px;
    cursor: pointer;
}

.modal2 {
    position: absolute; /* Establecer la posición absoluta para superponer el modal */
    top: 35%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar exactamente */
    background-color: rgb(255, 255, 255); /* Fondo blanco translúcido */
    padding: 10px; /* Espacio interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border-radius: 10px; /* Esquinas redondeadas */
    width: 65%; /* Ancho del modal */
    height: 130%; /*Alto del modal*/
    display: flex; /* Mostrar contenido en línea horizontal */
    flex-direction: column;
    align-items: center;
    color: #373737;
    border: solid 1px #3D5449;
}


  /* Estilo de fondo borroso en el contenedor de tarjeta cuando se abre el modal */
.card_container2.active::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo borroso */
    z-index: 999; /* Z-index alto para estar sobre otros elementos */
}
.modal_title2{
    color: #555555;
    font-size: 40px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    margin-left: 190px;
    margin-bottom: 15px;
    align-items: center;
}
.slider-container {
    width: 980px;
    height: 460px;
    overflow: hidden;
    position: relative;
}

.slider-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    transition: transform 0.5s;
    transform: translateY(100%);
}

.slider-slide.active {
    transform: translateX(0);
}
.text-slide2{
    width: 340px;
    height: 400px;
    display: flex;
    align-items: center;

}
.text-slide2 p{
    letter-spacing: 1px;
    font-size: 18px;
    color: #555555;
    text-align: justify;
    line-height: 1.5;
    
}
.img-slide1 img{
    width: 340px;
    height: 400px;

}
.img-slide2, .img-slide3{
    width: 780px;
    height: 400px;
}
.modal2 .btn-close{
    font-size: 20px;
    color:lightgray;
} 
.slider-button-left{
    position: relative;
    background-color: transparent;
    left: -40%;
    top: 45%;
    border: 1px blue solid;
    color:lightgrey;
    opacity: 0.4;
}
.slider-button-right{ 
    position: relative;
    border: none;
    background-color: transparent;
    left: 40%;
    top: 45%;
    color:lightgrey;
    opacity: 0.4;
    
}
.card2dt{
    display: none;
}
@media (max-width: 767px) {
    .card_container2{
        width: 340px;
        height: 130px;
        gap: 0;
    }
    .card2mb{
        display: none;

    }
    .card2dt{
        display: block;
    }
    .modal2{
        width: 95%;
        height: 100%;
    }

}