.menu{
    position: fixed; /* Fijar el menú en la ventana */
    top: 0; /* Colocar el menú en la parte superior */
    left: 0; /* Colocar el menú en el extremo izquierdo */
    width: 100%; /* Ocupar todo el ancho de la pantalla */
    height: 90px; /* Altura del menú */
    background-color: #ffffff; /* Color de fondo del menú */
    color: black; /* Color del texto en el menú */
    letter-spacing: 2px;
    text-align: center; /* Alinear el texto en el centro */
    line-height: 20px; /* Alinear verticalmente el texto en el centro */
    z-index: 999; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 10px 5px -6px rgba(109,120,116,1);
    -moz-box-shadow: 0px 10px 5px -6px rgba(109,120,116,1);
    box-shadow: 0px 10px 5px -6px rgba(109,120,116,1);
}
.menu img{
    width: 10em;
}
.seccionesMenu{
    display: flex;
    width: 700px;
    justify-content: space-around;
    text-transform: uppercase;
}
.idioma{
    border: 1px black solid;
    border-radius: 10px;
    padding: 8px;
    letter-spacing: 2px;
    cursor: pointer;
    
    background-color: #fff;
    transition: background-color 0.4s, color 0.3s;
}
.idioma:hover {
    background-color: #3d3d3d;
    color: #fff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none; 
    color: #333; 
}
a:hover{
    font-weight: bold;
}
.seccionesMenu a.active {
    font-weight: bold; /* Cambia a negrita */
    color: #000; 
    transition: all 0.3s;
}
.desktop{
    display: none;
}


@media (max-width: 767px) {
    .mobile {
        display: none;

    }
    .desktop{
        display: block;
    }
    .menu{
        width: 100%;
    }
    .menuHamburguer{
        width: 50px;
        height: 30px;
        color: black;

    }
    ul {
        list-style: none;
        border: 1px solid gray;
        position: absolute;
        padding-right: 35px;
        right: 0%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        background-color: white;
        top: 75px;
        width: 150px;
    }
}
