
.card_container{
    width: 200px;
    height: 410px;
    border-radius: 30px;  
    background-image: url('/background/bg-card.svg'); /* Agrega la imagen de fondo */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen en el banner */
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.card_title{
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
}
.card_btn{
    font-size: 22px;
    cursor: pointer;
}

.modal {
    position: absolute; /* Establecer la posición absoluta para superponer el modal */
    top: 35%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar exactamente */
    background-color: rgb(255, 255, 255); /* Fondo blanco translúcido */
    padding: 10px; /* Espacio interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border-radius: 20px; /* Esquinas redondeadas */
    width: 65%; /* Ancho del modal */
    height: 130%; /*Alto del modal*/
    display: flex; /* Mostrar contenido en línea horizontal */
    flex-direction: column;
    align-items: center;
    color: #373737;
    border: solid 1px #3D5449;
}

.btn-close {
    margin-top: 5px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
  /* Estilo de fondo borroso en el contenedor de tarjeta cuando se abre el modal */
.card_container.active::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo borroso */
    z-index: 999; /* Z-index alto para estar sobre otros elementos */
}
.modal_title{
    color: #555555;
    font-size: 40px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    margin-left: 190px;
    margin-bottom: 15px;
    align-items: center;
}
.modal_contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.modal_contain1{
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.modal_contain2{
    display: flex;
    flex-direction: column;
}
.container_icons{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 90px;
}
.icons_cover{
     width: 100px;
}
.text_cover{
    width: 260px;
    font-size: 18px;
    flex: 2; /* Hacer que el contenido ocupe el espacio disponible */
  text-align: justify; 
}
.modal_contain2 .container_icons .text_icon{
    font-size: 20px;
}
.modal-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.image_icon{
    height: 70px;
    width: 60px;
}
.text_icon{
    font-size: 22px;
    width: 250px;
    text-align: start;
}
.btn-close{
    font-size: 20px;
    color:lightgray;
} 
.modal-section1MB{
    display: none;
}
.slider-container {
    width: 980px;
    height: 460px;
    overflow: hidden;
    position: relative;

}

.slider-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    transition: transform 0.5s;
    transform: translateY(100%);
}

.slider-slide.active {
    transform: translateX(0);
}
.text-slide2{
    width: 340px;
    height: 400px;
    display: flex;
    align-items: center;

}
.text-slide2 p{
    letter-spacing: 1px;
    font-size: 18px;
    color: #555555;
    text-align: justify;
    line-height: 1.5;
    
}
.img-slide1 img{
    width: 340px;
    height: 400px;

}
.img-slide2, .img-slide3{
    width: 780px;
    height: 400px;
}
.modal2 .btn-close{
    font-size: 20px;
    color:lightgray;
} 
.slider-button-left{
    position: relative;
    background-color: transparent;
    left: -40%;
    top: 45%;
    border: 1px blue solid;
    color:lightgrey;
    opacity: 0.4;
}
.slider-button-right{ 
    position: relative;
    border: none;
    background-color: transparent;
    left: 40%;
    top: 45%;
    color:lightgrey;
    opacity: 0.4;
    
}
@media (max-width: 767px) {
    .card_container{
        width: 340px;
        height: 130px;
        gap: 0;
    }
    .modal {
        width: 95%;
        height: 100%;
    }
    .modal-section1MB{
        display: block;
    }
    .modal-sectionmb{
        display: none;
    }
    .slider-container {
        width: 340px;
        height: 100%;
        overflow: hidden;
        position: relative;    
    }
    .modal-section1MB{
        width: 340px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

    }
    .modal_title {
        font-size: 30px;
        margin: 0;
        justify-content: center;
    }
    .text-slide_1{
        display: flex;
        justify-content: center;
    }
    .text-slide_1 p {
        width: 70%;
        /* height: 50%; */
        font-size: 22px;
        color: #555555;
        text-align: justify;
        line-height: 1.4;
    }
    .slider-slide_1mb  {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        margin-top: 15%;
        font-size: 24px;
        position: absolute;
        transition: transform 0.5s;
        transform: translateY(100%);
    }
    
    .slider-slide_1mb.active {
        transform: translateX(0);
    }
    .modal_contain2 {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .container_icons {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 90px;
        width: 80%;
    }
}