.cards_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 90%;
}
.titleSection{
    font-family: serif;
    font-weight: 100;
    color: #747070;
    font-size: 38spx;
    letter-spacing: 4px;
    
}
.pSection{    
    font-weight: 100;
    color: #555555;
    font-size: 20px;
    text-transform: lowercase;

}
.containerSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    
}
@media (max-width: 767px) {
    .cards_container{
        flex-wrap: wrap;
        width: 100%;
        height: 700px;
    }
    .titleSection{
        font-size: 30px;
        
    }
}